.navbar .navbar-brand.custom-navbar-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2A446B;
  margin-left: 170px;
}

.layout-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(97vh - 94px);
}

/*.special-page .layout-container {
 display: flex;
  flex-direction: column;
  margin: 0;

}*/

.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  max-height: 40px;
}

.navbar .form-inline {
  margin-left: auto;
}

.footer {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: center;
}

.footer-logo {
  max-height: 30px;
  margin-right: 10px;
}

.containerFooter {
  display: flex;
  align-items: center;
}

.btn-outline-light {
  border: none;
  background-color: #fff;
  color: #007bff;
  transition: background-color 0.3s;
}

.text-muted {
  color: #2A446B !important;
}

@media (max-width: 768px) {
  .special-page .layout-container {

  }
}

@media (max-width: 576px) {
  .special-page .layout-container {

  }
}
