.layout-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: calc(96vh - 92px);
}

.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.navbar-logo {
  max-height: 40px;
}

.navbar .form-inline {
  margin-left: auto;
}

.footer {
  background-color: #007bff;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.footer-logo {
  max-height: 30px;
  margin-right: 10px;
}

.containerFooter {
  display: flex;
  align-items: center;
}

.btn-outline-light {
  border: none;
  background-color: #fff;
  color: #007bff;
  transition: background-color 0.3s;
}
