<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="layout.component.css">
</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/Andrea Italiano.png" alt="Logo" class="navbar-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="mx-auto d-flex justify-content-center flex-grow-1">
        <a class="navbar-brand custom-navbar-text">Job Spy</a>
      </div>
      <input type="text" placeholder="Cerca per Job Title" #filter>

      <button class="primary" type="button" (click)="filterResults(filter.value)">Search</button>

      <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search by Job Title">-->
<!--        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>-->

    </div>
  </nav>
</header>

<div class="layout-container">
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="footer">
  <div class="containerFooter">
    <img src="assets/Andrea Italiano.png" alt="Logo" class="footer-logo">
    <span class="text-muted">Made By SoftwareDoctor</span>
  </div>
</footer>

</body>
</html>
