<div class="main-content">
  <!-- Card per il pulsante Create -->
  <div class="card">
    <button class="card-button" routerLink="/create" routerLinkActive="active-link">Create</button>
  </div>

  <!-- Contenitore per l'immagine -->
  <div class="containerImage">
    <img src="assets/logo.png" alt="Logo" class="footer-logo">
  </div>

  <!-- Card per il pulsante Search -->
  <div class="card">
    <button class="card-button" routerLink="/search" routerLinkActive="active-link">My Search</button>
  </div>
</div>
