<h1 mat-dialog-title>Select Technology</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Technologies</mat-label>
    <mat-select [(value)]="selectedTechnology">
      <mat-option *ngFor="let tech of data.technologies" [value]="tech.nameTechnology">
        {{ tech.nameTechnology }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSelect()">Select</button>
</div>
