<div class="container mt-5 d-flex justify-content-center">
  <div class="table-container">
    <h2 class="mb-4 text-center">Job Listings</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let jobListing of joblistings">
        <td>
          <a [routerLink]="['/singlejoblisting', jobListing.uuid]" routerLinkActive="active-link">{{ jobListing.title }}</a>
        </td>
        <td>
          <div class="action-buttons d-flex justify-content-end">
            <a [routerLink]="['/singlejoblistingupdate', jobListing.uuid]" class="btn btn-warning btn-sm me-2">Edit</a>
            <button class="btn btn-danger btn-sm" (click)="openConfirmationDialog(jobListing)">Delete</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
    <div *ngIf="warningMessage" class="alert alert-success mt-3">
      {{ warningMessage }}
    </div>
  </div>
</div>
