<div class='action-modal-container'>
  <div class='action-modal-x-container'>
    <div class='action-modal-x-out'>&times</div>
  </div>
  <div class='action-modal-confirmation-text'>
    Sei sicuro di voler eliminare?
  </div>
  <div class='action-modal-description-text'>
    ........................................
  </div>
  <div class='action-modal-button-container'>
    <button class='action-modal-button action-modal-cancel-button'>
      No
    </button>
    <button class='action-modal-button action-modal-delete-button'>
      Si
    </button>
  </div>
</div>
